@import url(responsive.css);

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary: #1e272e;
  --secundary:  #0fbaf9a1; 
}

/* HEADER */
.header{
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 75%);
  background-color: var(--primary);
  background-repeat: no-repeat;
  height: 300px;
  
  
  
}

.header, .header-h1, .header-h2, .header-h4{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif ;
  text-align: center;
  font-weight: 700;
  
}

.header .header-h1{
  margin: 9px 0px 21px 0px;
  font-size: 2em;
}

.header .header-h2{
   padding-top: 35px;
   font-size: 1.2em;
}

.header .header-h4{
  font-size: 0.9em;
}

.header .nav .list-nav{
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.header .nav .list-nav li{
  margin: 0px 10px 0px 10px ;
}

.header .nav .list-nav li a{
  text-decoration: none;
  width: 160px;
  height: 40px;
  background-color: #0fbaf969;
  color: #ffffff81;
  padding: 9px;
  border: none;
  border-radius: 4px;
  transition: 400ms;
}


.header .nav .list-nav li a:hover{
  text-decoration: none;
  width: 160px;
  height: 40px;
  background-color: var(--secundary);
  color: #ffffff;
  padding: 9px;
  border: none;
  border-radius: 4px;
  transition: 400ms;
  box-shadow: 0px 1px 6px #00000029;
}

/* END HEADER */

/* SECTION-INFOR AND FORM */

.main{
  margin-top: 30px;
}

.main .section-data-infor .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  
}

.main .section-data-infor .content .container-infor{
  width: 400px;
}

.main .section-data-infor .content .container-infor .title-infor{
  color: var(--primary);
  margin-bottom: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.main .section-data-infor .content .container-infor .p-infor{
  font-family: Arial, Helvetica, sans-serif;
}

.main .section-data-infor .content .container-form .data-personal {
  margin: 0px 0px 16px 0px ;
 }

.main .section-data-infor .content .container-form .data-personal label , .label-invite{
 display: block;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 color: var(--primary);
 margin-bottom: 6px;
}

.main .section-data-infor .content .container-form .data-personal .nome, .email, .cpf, .invite-friends{
 width: 340px;
 height: 30px;
 border: 1px solid #707070;
 outline: none;
 padding: 0px 0px 0px 5px;
 }

.main .section-data-infor .content .container-form .button-submit{
 text-align: center;
 margin-top: 15px;
 }

 .main .section-data-infor .content .container-form .button-submit button{
 width: 340px;
 height: 35px;
 cursor: pointer;
 background-color: #0fbaf985;
 color: #ffffffa8;
 border: none;
 border-radius: 3px;
 transition: 400ms;
 font-size: 1.1em;
 }

 .main .section-data-infor .content .container-form .button-submit button:hover{
  width: 340px;
  height: 35px;
  cursor: pointer;
  background-color: #0fbaf9dc;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  transition: 400ms;
  }
  
  /* END SECTION-INFOR AND FORM */

  /* SECTION-PRODUCTS*/

  .barra{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e272e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .barra hr{
    width: 25%;
    margin: 0px 25px 0px 25px;
  }

 .main .section-products {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  }
  
 .main .section-products .container-products  {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  justify-content: center;
    
  }

 .main .section-products .container-products .box {
  margin: 25px 30px 25px 30px;
}

.main .section-products .container-products .img-product img {
 
  width: 180px;
  height: 180px;
 
}

.main .section-products .container-products .box .details {
  width: 180px;
}

.main .section-products .container-products .box .details .title-product {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  margin: 8px 0;
}

.main .section-products .container-products .box .details p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #141414;

}

.main .section-products .container-products .box .details .prices{
  margin-top: 10px;
 }

.main .section-products .container-products .box .details .prices span{
 display: block;
 margin: 6px 0;
 font-family: Arial, Helvetica, sans-serif;
}

.main .section-products .container-products .box .details .old-price{
 color: #95a5a6;
 font-size: 0.8em;
}

.main .section-products .container-products .box .details .prices .price{
  font-weight: bold;
  color: #141414;
  font-size: 1.2em;
 }
 
.main .section-products .container-products .box .details .prices .count-value{

  color: #95a5a6;
  font-size: 0.9em;
 }
 
.main .section-products .container-products .box .details .button{
  text-align: center;
 }
 
.main .section-products .container-products .box .details .button button{
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: #27ae5fa4;
  color: #ffffffad;
  border: none;
  border-radius: 4px;
  transition: 400ms
 }
 
.main .section-products .container-products .box .details .button button:hover{
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: #27ae60;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: 400ms
 }

 .main  .most-products {
  text-align: center;
  margin-top: 15x;
   }

 .main  .most-products button{
 width: 260px;
 height: 39px;
 cursor: pointer; 
 background-color: var(--primary);
 color: #ffffffb9;
 border: none;
 border-radius: 4px;
 transition: 400ms;
  }
  
 .main  .most-products button:hover {
  width: 260px;
  height: 39px;
  cursor: pointer; 
  background-color: #1e272e;
  color: #ffffff;
  box-shadow: 0px 0px 5px var(--primary);
  border: none;
  border-radius: 4px;
  transition: 400ms;
   }

   /* END SECTION-PRODUCTS*/

  /* SECTION-INVITE*/

  .main .section-invite{
    margin-top: 30px;
  }
  
  .main .section-invite .content-invite{
  text-align: center;
  }

  .main .section-invite .content-invite .message-invite{
  font-family: Arial, Helvetica, sans-serif;
  
 }

 .main .section-invite .content-invite .form-invite{
  margin: 35px 0px 0px 0px;
 }
 
 .main .section-invite .content-invite .form-invite .form-friends .inputs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  
   }
 
 .main .section-invite .content-invite .form-invite .form-friends .data-friend label{
display: block;
text-align: start;

 }
 
 .main .section-invite .content-invite .form-invite .form-friends .button-invite{
  margin-top: 30px;
  
   }
  
 .main .section-invite .content-invite .form-invite .form-friends .button-invite .submit-invite{
  margin-top: 15px;
  width: 260px;
  height: 39px;
  background-color: #0fbaf985;
  border: none;
  border-radius: 4px;
  color: #ffffffa8;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: 400ms;
   }
   
 .main .section-invite .content-invite .form-invite .form-friends .button-invite .submit-invite:hover{
  margin-top: 15px;
  width: 260px;
  height: 39px;
  background-color: #0fbaf9d0;
  color: #ffffffcb;
  box-shadow: 0px 0px 6px #0fbaf9d0;
  transition: 400ms;
   }

  /* END SECTION-INVITE*/

   /* FOOTER */
  
  .footer{
    margin-top: 80px;
    padding: 50px 0px 0px 0px;
    clip-path: polygon(30% 16%, 82% 5%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 24%);
    background-color: var(--primary);
    color: #ffffff;
    text-align: center;
    background-repeat: no-repeat;
    height: 100px;
    }
    
 

   /* END FOOTER */


.main .section-data-infor .content .container-form .data-personal .nome.inputErro, .email.inputErro, .cpf.inputErro{
  border: 1px solid #ee0808;
  }
  
.main .section-data-infor .content .container-form .data-personal .nome.inputErro::placeholder, .email.inputErro::placeholder, .cpf.inputErro::placeholder{
  color: red;
  }


  